@font-face{
    font-family: "light";
    src: url(fuente/MyriadPro-Light.otf);
}
@font-face{
    font-family: "regular";
    src: url(fuente/MYRIADPRO-REGULAR.OTF);
}
@font-face{
    font-family: "cursiva";
    src: url(fuente/AmazonEmberCdRC_BdIt.ttf);
}

body{
    margin: 0%;
}
.principal{
    overflow: hidden;
}
/*Estilos de la parte superior del formato donde se modificara la posicion de los hipervinculos y el tamaño del logotipo tambien haciendo que la barra se quede estatica*/
.superior{
    margin: 0%;
    width: 100vw;
    height: 9vw;
    background-color: #3266cc;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
}
.c{
    width: 100vw;
    height: 9vw;
}
#gobiernos{
    width: 20vw;
}
/*letra*/
.superior a{
    font-size: 2vw;
    text-decoration: none;
    color: white;
    font-family: "light";
}
/*Boton de consultar*/
.superior a.consultar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 3.68vw;
    background-color: white;
    color: black;
    border-radius: 20vw;
    font-family: "light";
    font-weight: bold;
}
/*Implementación del fondo de la primera pagina*/
.fondo{
    background-image: url(img/Fondo.png);
    background-size: 100vw;
    width: 100vw;
    height: 52vw;
    background-repeat: no-repeat;
    display: flex;
}
.bloque1{
    width: 100vw;
}
/*Cuadro donde va a estar todo el dormulario*/
.formulario {
    background-color: white;
    width: 33vw;
    height: 46vw;
    border-radius: 2vw;
    margin-left: 5vw;
    margin-top: 3vw;
}
/*Modificacion de los espacios a llenar en el formulario*/
.formulario input{
    width: 30.5vw;
    height: 2vw;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
#tipodocu{
    margin: auto;
    width: 31vw;
    height: 2.3vw;
    font-size: 01vw;
    margin-left: 1vw;
}
/*Boton del formulario*/
.formulario a{
    text-decoration: none;
    width: 11vw;
    height: 3vw;
    background-color: #157FFB;
    border-radius: 1vw;
    color: white;
    display: block;
    align-content: center;
    text-align: center;
    margin-left: 10vw;
    margin-top: 1.2vw;
    font-size: 1vw;
}
/*Letra del formulario*/
label{
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
/*Texto que va en la parte superior del formulario*/
.formulario .texto{
    font-size: 2vw;
    font-family: "regular";
    text-align: center;
}
.formulario .texto1{
    text-align: center;
    font-size: 1vw;
    margin-top: -1vw;
    font-family: light;
}
/*Modificacion del texto que va en la primera pag donde debe ir al lado derecho del formulario*/
.contenido {
    text-align: center;
    width: 42vw;
    margin-left: 10vw;
    margin-top: 17vw;
}
.contenido h2{
    font-size: 3.5vw;
    font-family: "regular";
    font-weight: 100;
}
.contenido p{
    font-size: 1.9vw;
    font-family: "light";
}
/*Boton que va con el texto del formulario*/
.boton {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14vw;
    height: 3.5vw;
    background-color: #157FFB;
    border-radius: 3vw;
    color: white;
    border: none;
    margin-left: 13vw;
    font-size: 1.5vw;
}
.bloque2 {
    width: 100vw;
}
/*img del desplazamiento*/
.icono_down{
    width: 2vw;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text1 {
    text-align: center;
    font-size: 3.5vw;
    font-family: "regular";
    font-weight: 400;
}
.text2 {
    text-align: center;
    font-size: 2vw;
    font-family: "light";
    width: 40vw;
}
.box a{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}
.box img.globo{
    width: 25vw;
    padding-bottom: 5vw;
    flex-wrap:wrap ;
}
.bloque3 {
    width: 100vw;
}
/*Modificion de los textos e imagenes que van en la parte de las etapas de pagos*/
.titulo {
    text-align: center;
    font-size: 4vw;
    font-family: "light";
    font-weight: 300;
}
.box2{
    justify-content: space-around;
    text-align: center;
    display: flex;
}
.celu{
    display: flex;
    gap: 2vw;
    margin-left: 6vw;
    width: 10vw;
    height: 6vw;
}
#movi{
    margin-top: 1vw;
    height: 3.5vw;
}
.box2 p{
    font-family: "light";
    font-size: 2.5vw;
    margin-top: 2%;
    font-weight: 400;
}
.box2 h2{
    font-size: 2.5vw;
    font-family: "regular";
    font-weight: 450;
}
.box2 h3{
    font-size: 3.2vw;
    font-family: "light";
    font-weight: 100;
}
#bancamia{
    margin-top: 6vw;
    width: 25vw;
}
#banco{
    margin-top: -6vw;
    width: 30vw;
}
#social{
    margin-top: 9vw;
    width: 30vw;
}

.text4{
    text-align: center;
    margin-top: 2vw;
}
.text4 a{
    text-decoration: none;
    color: black;
    font-family: "light";
    font-size: 1.5vw;
    font-weight: 200;
}
.bloque4{
    width: 100vw;
    text-align: center;
}
/*En la parte de las preguntas frecuentes van unos circulos que son la cantidad de preguntas*/
.circle{
    background-color: #157FFB;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.bloque4 h1{
    font-family: "light";
    font-weight: 300;
    font-size: 4vw;
}
.bloque4 h2{
    font-family: "cursiva";
    font-size: 2.3vw;
}
.bloque4 p{
    font-family: "light";
    font-size: 2vw;
}
.bloque4 a{
    text-decoration: none;
    color: black;
    font-size: 1.8vw;
    font-family: "light";
}
.bloque4 img{
    padding-top: 2vw;
}
.bloque5{
    width: 100vw;
    text-align: center;
}

.bloque5 h2{
    font-family: "cursiva";
    font-size: 2.5vw;
}
.bloque5 p{
    font-family: "light";
    font-size: 2vw;
}
.bloque5 a{
    text-decoration: none;
    color: black;
    font-size: 1.8vw;
    font-family: "light";
}
.bloque6{
    width: 100vw;
    text-align: center;
    margin-top: 2vw;
}
.bloque6 h2{
    font-family: "cursiva";
    font-size: 2.5vw;
}
.bloque6 p{
    font-family: "light";
    font-size: 2vw;
} 
/*Cuadro azul del bloque seir */
.bloque6 .azul{
    width: 95vw;
    height: 22vw;
    background-color: #157FFB;
    border-radius: 2vw;
    margin-left: 2vw;
    text-align: center;
    align-content: center;
    color: white;
}
.bloque6 .azul h1{
    font-family: "regular";
    font-size: 3vw;
}
.bloque6 .azul p{
    font-family: "light";
    font-weight: 100;
}
.bloque6 .azul button{
    width: 15vw;
    height: 4vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    margin: 0 3vw;
    border: none;
    background-color: white;
}
/*Modificacion de la parte inferior de la plataforma */
.bloque6 .inferior{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 14vw;
    background-color: #3266cc;
    margin-top: 4vw;
}
.bloque6 .inferior p{
    color: white;
    font-size: 1vw;
    font-family: "light";
}
.bloque6 img{
    width: 20vw;
}
.logos{
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 48vw;
    margin-top: -5vw;
}
.inferior .texto2 img{
    width: 1vw;
}
.inferior .texto3 img{
    width: 1vw;
}
